<?xml version="1.0"?>
<launch>

  <include file="$(find livox_ros_driver2)/launch_ROS1/msg_MID360.launch"/>

  <node name="cloud_fusion" pkg="obstacle_test" type="sync_test" output="screen">
    max_x: 10.0
    min_x: -10.0
    max_y: 10.0
    min_y: -10.0
    max_z: 1.5
    min_z: -0.4

    car_max_x: 1.35
    car_min_x: -1.35
    car_max_y: 0.75
    car_min_y: -0.75
    car_max_z: 0.5
    car_min_z: -0.5
  </node>
  
  <node name="trajectory_path" pkg="obstacle_test" type="obstacle_test" output="screen">
    halfLength: 1.3
    halfWidth: 0.68
  </node>


  <arg name="obstacle_test_rviz" default="1" />
  <group if="$(arg obstacle_test_rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="obstacle_test_rviz" args="-d $(find obstacle_test)/param/path.rviz" />
  </group>
</launch>
